absl-py==1.0.0
aiodns==3.0.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.2.0
aleph-alpha-client==2.16.1
anyio==3.6.2
argilla==1.3.1
asttokens==2.0.5
async-generator==1.10
async-timeout==4.0.2
attrs==21.4.0
autopep8==2.0.1
backoff==2.2.1
base58==2.1.1
beautiful-date==2.0.0
beautifulsoup4==4.9.3
bitarray==1.2.2
black==22.3.0
blobfile==2.0.1
boto3==1.26.84
botocore==1.29.84
cachetools==4.2.4
certifi==2022.12.7
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
chromadb==0.3.10
click==8.1.3
clickhouse-connect==0.5.14
colorama==0.4.4
configparser==5.0.2
crayons==0.4.0
cryptography==36.0.2
crytic-compile==0.2.4
cvzone==1.5.4
cycler==0.10.0
cytoolz==0.11.2
dataclasses-json==0.5.7
dataclassy==0.11.1
dateparser==1.0.0
decorator==4.4.2
deeplake==3.2.13
Deprecated==1.2.13
dill==0.3.6
discord==1.0.1
discord.py==1.7.2
duckdb==0.7.1
dukpy==0.2.3
eip712==0.1.0
entrypoints==0.4
et-xmlfile==1.1.0
eth-abi==2.1.1
eth-account==0.5.7
eth-event==1.2.3
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.10.0
exceptiongroup==1.1.0
execnet==1.9.0
faiss-cpu==1.7.3
Faker==17.3.0
fastapi==0.92.0
filelock==3.9.0
Flask==2.0.2
Flask-Cors==3.0.10
frozenlist==1.3.0
future==0.18.2
gcsa==1.3.0
gitdb==4.0.9
google-api-core==2.7.2
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
googleapis-common-protos==1.54.0
GoogleNews==1.5.8
greenlet==1.1.2
grpcio==1.44.0
grpcio-status==1.44.0
h11==0.14.0
hexbytes==0.2.2
hnswlib==0.7.0
httpcore==0.16.3
httplib2==0.20.2
httptools==0.5.0
httpx==0.23.3
hub==3.0.1
huggingface-hub==0.12.1
humbug==0.2.8
hypothesis==6.27.3
idna==3.3
imageio==2.9.0
imageio-ffmpeg==0.4.4
importlib-metadata==6.0.0
inflection==0.5.0
iniconfig==1.1.1
insta-scrape==2.1.2
instagram-scraper==1.9.1
ipfshttpclient==0.8.0a2
itsdangerous==2.0.1
Jinja2==3.0.2
jmespath==1.0.1
joblib==1.2.0
json-tricks==3.15.5
jsonschema==3.2.0
kiwisolver==1.3.1
langchain==0.0.100
lazy-object-proxy==1.7.1
lru-dict==1.1.7
lxml==4.9.2
lz4==4.3.2
macropy3==1.1.0b2
magickwand==0.2
Markdown==3.4.1
MarkupSafe==2.0.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.4.2
mdurl==0.1.1
mediapipe==0.8.9.1
monotonic==1.6
MouseInfo==0.1.3
moviepy==1.0.3
msgpack==1.0.3
multiaddr==0.0.9
multidict==6.0.2
multiprocess==0.70.14
mypy-extensions==0.4.3
mythx-models==1.9.1
netaddr==0.8.0
nltk==3.6.2
numcodecs==0.11.0
numexpr==2.8.1
numpy==1.23.5
oauthlib==3.1.1
openai==0.27.0
opencv-python==4.5.5.62
openpyxl==3.0.10
outcome==1.2.0
packaging==21.3
pandas==1.4.2
pandas-datareader==0.9.0
pandas-stubs==1.4.2.220626
parsimonious==0.8.1
parso==0.8.3
pathos==0.3.0
pathspec==0.9.0
Pillow==8.2.0
platformdirs==2.5.2
pluggy==1.0.0
pox==0.3.2
ppft==1.7.6.6
praw==7.2.0
prawcore==2.0.0
prettytable==3.5.0
proglog==0.1.9
prompt-toolkit==3.0.29
proto-plus==1.20.3
protobuf==3.20.1
psutil==5.9.1
psychtoolbox==3.0.18.2
py==1.11.0
py-solc-ast==1.2.9
py-solc-x==1.1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycares==4.3.0
pycodestyle==2.10.0
pycountry==20.7.3
pycparser==2.21
pycryptodome==3.14.1
pycryptodomex==3.17
pydantic==1.10.5
pygame==2.0.1
PyGetWindow==0.0.9
pyglet==1.5.23
Pygments==2.12.0
pygments-lexer-solidity==0.7.0
pygsheets==2.0.5
PyJWT==1.7.1
PyMsgBox==1.0.9
PyNaCl==1.4.0
pyo==1.0.4
pyobjc==7.3
pyobjc-core==7.3
pyobjc-framework-Accessibility==7.3
pyobjc-framework-Accounts==7.3
pyobjc-framework-AddressBook==7.3
pyobjc-framework-AdServices==7.3
pyobjc-framework-AdSupport==7.3
pyobjc-framework-AppleScriptKit==7.3
pyobjc-framework-AppleScriptObjC==7.3
pyobjc-framework-ApplicationServices==7.3
pyobjc-framework-AppTrackingTransparency==7.3
pyobjc-framework-AudioVideoBridging==8.1
pyobjc-framework-AuthenticationServices==7.3
pyobjc-framework-AutomaticAssessmentConfiguration==7.3
pyobjc-framework-Automator==7.3
pyobjc-framework-AVFoundation==7.3
pyobjc-framework-AVKit==7.3
pyobjc-framework-BusinessChat==7.3
pyobjc-framework-CalendarStore==7.3
pyobjc-framework-CallKit==7.3
pyobjc-framework-CFNetwork==7.3
pyobjc-framework-ClassKit==7.3
pyobjc-framework-CloudKit==7.3
pyobjc-framework-Cocoa==7.3
pyobjc-framework-Collaboration==7.3
pyobjc-framework-ColorSync==7.3
pyobjc-framework-Contacts==7.3
pyobjc-framework-ContactsUI==7.3
pyobjc-framework-CoreAudio==7.3
pyobjc-framework-CoreAudioKit==7.3
pyobjc-framework-CoreBluetooth==7.3
pyobjc-framework-CoreData==7.3
pyobjc-framework-CoreHaptics==7.3
pyobjc-framework-CoreLocation==7.3
pyobjc-framework-CoreMedia==7.3
pyobjc-framework-CoreMediaIO==7.3
pyobjc-framework-CoreMIDI==7.3
pyobjc-framework-CoreML==7.3
pyobjc-framework-CoreMotion==7.3
pyobjc-framework-CoreServices==7.3
pyobjc-framework-CoreSpotlight==7.3
pyobjc-framework-CoreText==7.3
pyobjc-framework-CoreWLAN==7.3
pyobjc-framework-CryptoTokenKit==7.3
pyobjc-framework-DeviceCheck==7.3
pyobjc-framework-DictionaryServices==7.3
pyobjc-framework-DiscRecording==7.3
pyobjc-framework-DiscRecordingUI==7.3
pyobjc-framework-DiskArbitration==7.3
pyobjc-framework-DVDPlayback==7.3
pyobjc-framework-EventKit==7.3
pyobjc-framework-ExceptionHandling==7.3
pyobjc-framework-ExecutionPolicy==7.3
pyobjc-framework-ExternalAccessory==7.3
pyobjc-framework-FileProvider==7.3
pyobjc-framework-FileProviderUI==7.3
pyobjc-framework-FinderSync==7.3
pyobjc-framework-FSEvents==7.3
pyobjc-framework-GameCenter==7.3
pyobjc-framework-GameController==7.3
pyobjc-framework-GameKit==7.3
pyobjc-framework-GameplayKit==7.3
pyobjc-framework-ImageCaptureCore==7.3
pyobjc-framework-IMServicePlugIn==7.3
pyobjc-framework-InputMethodKit==7.3
pyobjc-framework-InstallerPlugins==7.3
pyobjc-framework-InstantMessage==7.3
pyobjc-framework-Intents==7.3
pyobjc-framework-IOSurface==7.3
pyobjc-framework-iTunesLibrary==7.3
pyobjc-framework-KernelManagement==7.3
pyobjc-framework-LatentSemanticMapping==7.3
pyobjc-framework-LaunchServices==7.3
pyobjc-framework-libdispatch==7.3
pyobjc-framework-LinkPresentation==7.3
pyobjc-framework-LocalAuthentication==7.3
pyobjc-framework-MapKit==7.3
pyobjc-framework-MediaAccessibility==7.3
pyobjc-framework-MediaLibrary==7.3
pyobjc-framework-MediaPlayer==7.3
pyobjc-framework-MediaToolbox==7.3
pyobjc-framework-Metal==7.3
pyobjc-framework-MetalKit==7.3
pyobjc-framework-MetalPerformanceShaders==7.3
pyobjc-framework-MetalPerformanceShadersGraph==7.3
pyobjc-framework-MLCompute==7.3
pyobjc-framework-ModelIO==7.3
pyobjc-framework-MultipeerConnectivity==7.3
pyobjc-framework-NaturalLanguage==7.3
pyobjc-framework-NetFS==7.3
pyobjc-framework-Network==7.3
pyobjc-framework-NetworkExtension==7.3
pyobjc-framework-NotificationCenter==7.3
pyobjc-framework-OpenDirectory==7.3
pyobjc-framework-OSAKit==7.3
pyobjc-framework-OSLog==7.3
pyobjc-framework-PassKit==7.3
pyobjc-framework-PencilKit==7.3
pyobjc-framework-Photos==7.3
pyobjc-framework-PhotosUI==7.3
pyobjc-framework-PreferencePanes==7.3
pyobjc-framework-PushKit==7.3
pyobjc-framework-Quartz==7.3
pyobjc-framework-QuickLookThumbnailing==7.3
pyobjc-framework-ReplayKit==7.3
pyobjc-framework-SafariServices==7.3
pyobjc-framework-SceneKit==7.3
pyobjc-framework-ScreenSaver==7.3
pyobjc-framework-ScreenTime==7.3
pyobjc-framework-ScriptingBridge==7.3
pyobjc-framework-SearchKit==7.3
pyobjc-framework-Security==7.3
pyobjc-framework-SecurityFoundation==7.3
pyobjc-framework-SecurityInterface==7.3
pyobjc-framework-ServiceManagement==7.3
pyobjc-framework-Social==7.3
pyobjc-framework-SoundAnalysis==7.3
pyobjc-framework-Speech==7.3
pyobjc-framework-SpriteKit==7.3
pyobjc-framework-StoreKit==7.3
pyobjc-framework-SyncServices==7.3
pyobjc-framework-SystemConfiguration==7.3
pyobjc-framework-SystemExtensions==7.3
pyobjc-framework-UniformTypeIdentifiers==7.3
pyobjc-framework-UserNotifications==7.3
pyobjc-framework-UserNotificationsUI==7.3
pyobjc-framework-VideoSubscriberAccount==7.3
pyobjc-framework-VideoToolbox==7.3
pyobjc-framework-Virtualization==7.3
pyobjc-framework-Vision==7.3
pyobjc-framework-WebKit==7.3
pyOpenSSL==22.0.0
pyparsing==3.0.9
pypdf==3.5.0
pyperclip==1.8.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
PyRect==0.1.4
pyrsistent==0.18.1
PyScreeze==0.1.28
pyserial==3.5
pysha3==1.0.2
PySocks==1.7.1
pytesseract==0.3.7
pytest==6.2.5
pytest-forked==1.4.0
pytest-xdist==1.34.0
python-bidi==0.4.2
python-dateutil==2.8.1
python-docx==0.8.11
python-dotenv==0.16.0
python-gitlab==3.3.0
python-magic==0.4.27
python-pptx==0.6.21
python-vlc==3.0.16120
pythx==1.6.1
pytweening==1.0.4
pytz==2021.1
PyYAML==6.0
pyzmq==22.3.0
questplus==2019.4
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.5.0
riotwatcher==3.1.1
rlp==2.0.1
rsa==4.8
rubicon-objc==0.4.2
s3transfer==0.6.0
scikit-learn==1.2.1
scipy==1.8.0
selenium==4.8.0
semantic-version==2.8.5
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
slither-analyzer==0.9.1
smmap==5.0.0
sniffio==1.3.0
solc-select==1.0.1
sortedcontainers==2.4.0
sounddevice==0.4.4
SoundFile==0.10.3.post1
soupsieve==2.2.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.46
starlette==0.25.0
tables==3.7.0
tenacity==8.2.2
textblob==0.15.3
threadpoolctl==3.1.0
tiktoken==0.3.0
tokenizers==0.13.2
toml==0.10.2
tomli==2.0.1
toolz==0.11.2
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.0
transformers==4.26.1
trio==0.22.0
trio-websocket==0.9.2
typer==0.4.0
typing-extensions==4.3.0
typing-inspect==0.8.0
tzlocal==2.1
ujson==5.2.0
unstructured==0.5.2
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.9
uvicorn==0.20.0
uvloop==0.17.0
varint==1.0.2
vvm==0.1.0
vyper==0.3.3
Wand==0.6.6
watchfiles==0.18.1
wcwidth==0.2.5
web3==5.29.1
webdriver-manager==3.4.2
websocket-client==1.0.1
websockets==10.4
Werkzeug==2.0.2
wrapt==1.14.1
wsproto==1.2.0
wxPython==4.1.1
xarray==2022.3.0
xlrd==2.0.1
XlsxWriter==3.0.8
yarl==1.7.2
zipp==3.15.0
zope.event==4.5.0
zope.interface==5.4.0
zstandard==0.20.0